page-home {

    .main{
        background-image: url('assets/imgs/fondo.jpg');
    }

    .logo{
        margin-top: 7%;
    }

    .textoInicio{
        color: rgb(177, 233, 233);
        font-size:  355%;
        margin-top: 1%;
     
    }


}
