.menu{
    
    text-align: center;
}

.items {
    font-size: 140%;
    text-align: left;
    background-color: hsla(180, 42%, 57%, 0.904);
    color: black;

}

.main{
    background-image: url('/assets/imgs/fondoMenu.jpg')

}

.margen {
margin-top: 10px

}

.fondoMenu {
    background-color: rgba(177, 233, 233, 0.555);
}
