page-detalle {
    .justificado {
        text-align: justify;
        text-justify: inter-word;
    }
    .padding {
        padding-left:5%;
    }

    .paddingBot {
        margin-bottom: 10%;
    }

    .tabla {
        width: 80%;
    }

    h2 {
        text-align: center;
    }
}
